/* Clickable Area */

.clickable-area {
    position: relative;
}

/* Link */

.clickable-area__link {
    padding: 0;

    &::before {
        content: '';

        position: absolute;
        z-index: 1;
        inset-block: 0;
        inset-inline: 0;
    }
}
